<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443466614347-55t26v9p66u3427g4rtujoka0gl76m36.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443466614347-55t26v9p66u3427g4rtujoka0gl76m36</string>
	<key>API_KEY</key>
	<string>AIzaSyAAvMORFbl08PECdiWfuXH4clghejP7KtQ</string>
	<key>GCM_SENDER_ID</key>
	<string>443466614347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail-brunor.producao.UberClone</string>
	<key>PROJECT_ID</key>
	<string>uber-clone-f67dc</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-clone-f67dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443466614347:ios:77fdbc3b914bc7cfc96fce</string>
</dict>
</plist>